extends ../../pug/layout

block content
  article
    p
      | Краевое государственное автономное профессиональное образовательное
      | учреждение «Дальневосточный государственный гуманитарно-технический
      | колледж»
      |
      span.sveden__prop-name образовано
      |
      | в соответствии с Приказом Главного Управления
      | профессионально-технического образования при
      | Совете Министров РСФСР от
      |
      time.sveden__prop-value(datetime="1961-02-01", itemprop="regDate") 01.02.1961
      |
      | № 156 под названием "Профессионально-техническое училище № 10".

    p.
      В соответствии с распоряжением Правительства Приморского края от
      19.12.2022 № 820-рп колледж переименован в «Дальневосточный
      государственный гуманитарно-технический колледж имени Героя Советского
      Союза Д.М. Карбышева» (с 07.11.2023).

    p
      span.sveden__prop-name Полное наименование
      | :
      |
      span.sveden__prop-value(itemprop="fullName").
        краевое государственное автономное профессиональное образовательное
        учреждение «Дальневосточный государственный гуманитарно-технический
        колледж имени Героя Советского Союза Д. М. Карбышева»
      | .

    p
      span.sveden__prop-name Сокращенное наименование
      | :
      |
      span.sveden__prop-value(itemprop="shortName") КГА ПОУ «ДВГГТК имени Д. М. Карбышева»
      | .

    p
      span.sveden__prop-name Учредителем
      |
      | (собственником имущества) колледжа является
      |
      span.sveden__prop-value Приморский край
      | . От имени Приморского края функции и полномочия учредителя
      | (собственника имущества) колледжа в пределах своей компетенции
      | осуществляют Правительство Приморского края, отраслевой орган
      | исполнительной власти Приморского края Министерство земельных и
      | имущественных отношений Приморского края. Колледж находится в
      | ведении Министерства профессионального образования и занятости
      | населения Приморского края.

    p Деятельность колледжа регламентируется Федеральным законом от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации», нормативными актами Министерства просвещения Российской Федерации. Деятельность колледжа контролируется Федеральной службой по надзору в сфере образования и науки.
    p Образовательная деятельность в колледже осуществляется на русском языке — государственном языке Российской Федерации. Документы об образовании оформляются на государственном языке Российской Федерации — русском языке.
    p Место нахождения колледжа: г. Владивосток, ул. Карбышева, д. 11.
    p Почтовый адрес: 690089, г. Владивосток, ул. Карбышева, д. 11.
    p График работы колледжа: Пн, Вт, Ср, Чт, Пт: с 8.00 до 17.00; перерыв на обед с 12.00 до 13.00.
    p Телефоны: секретарь директора: +7 (423) 2347863; учебная часть: +7 (423) 2347669.
    p Электронная почта: info@dvggtk.org.
    p Официальный сайт: https://dvggtk.org.
    p Место осуществления образовательной деятельности: г. Владивосток, ул. Карбышева, д. 11.
