extends ../pug/layout

block content

  h3 СВЕДЕНИЯ ОБ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ

  p Федеральный закон от 29.12.2012 N 273-ФЗ (ред. от 25.12.2023) "Об образовании".

  p.
    Постановление Правительства РФ от 20.10.2021 N 1802 (ред. от 28.09.2023) "Об
    утверждении Правил размещения на официальном сайте образовательной организации в
    информационно-телекоммуникационной сети "Интернет" и обновления информации об
    образовательной организации, а также о признании утратившими силу некоторых
    актов и отдельных положений некоторых актов Правительства Российской Федерации".

  p.
    Приказ Рособрнадзора от 04.08.2023 N 1493 (ред. от 04.08.2023, вступает
    в силу 01.09.2024) "Об утверждении требований к структуре официального сайта
    образовательной организации в информационно-телекоммуникационной сети "Интернет"
    и формату представления информации".

  p.
    В части, не противоречащей приказу Рособрнадзора от 04.08.2023 N 1493:
    "Методические рекомендации представления информации об образовательной
    организации в открытых источниках с учетом соблюдения требований
    законодательства в сфере образования. Версия 7.7.0"

  p.
    Информация Рособрнадзора (ред. от 21.12.2020) "Комментарии Федеральной службы
    по надзору в сфере образования и науки в связи с актуализацией требований к
    структуре официального сайта образовательной организации в информационно-
    телекоммуникационной сети "Интернет" и формату представления информации".

  h3 АБИТУРИЕНТУ
  p.
    Приказ Минпросвещения РФ от 02.09.2020 N 457 (ред. от 13.10.2023) "Об утверждении
    Порядка приема на обучение по образовательным программам среднего
    профессионального образования"

  h3 ПРОТИВОДЕЙСТВИЕ КОРРУПЦИИ
  p.
    Приказ Министерства труда и социальной защиты РФ от 7 октября 2013 г. N 530н
    (ред. от 26.07.2018) "О требованиях к размещению и наполнению подразделов,
    посвященных вопросам противодействия коррупции, официальных сайтов федеральных
    государственных органов, Центрального банка Российской Федерации, Пенсионного фонда
    Российской Федерации, Фонда социального страхования Российской Федерации,
    Федерального фонда обязательного медицинского страхования, государственных
    корпораций (компаний), иных организаций, созданных на основании федеральных
    законов, и требованиях к должностям, замещение которых влечет за собой
    размещение сведений о доходах, расходах, об имуществе и обязательствах
    имущественного характера"

  h3 ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ

  p.
    Федеральный закон от 24.11.95 N 181-ФЗ (ред. от 10.07.2023) "О социальной защите
    инвалидов в Российской Федерации".

  p.
    Приказ Минкомсвязи России от 11.03.2016 № 97 "Об утверждении рекомендаций по
    повышению эффективности обеспечения условий доступности для инвалидов по зрению
    официальных сайтов федеральных органов государственной власти, органов
    государственной власти субъектов Российской Федерации и органов местного
    самоуправления в сети "Интернет"

  p.
    Приказ Министерства цифрового развития, связи и массовых коммуникаций РФ от 18.03.2021
    № 158 "О внесении изменений в рекомендации по повышению эффективности обеспечения
    условий доступности для инвалидов по зрению официальных сайтов федеральных органов
    государственной власти, органов государственной власти субъектов Российской Федерации
    и органов местного самоуправления в сети "Интернет", утвержденные приказом
    Министерства связи и массовых коммуникаций Российской Федерации от 11.03.2016 N 97"

  p.
    Приказ Министерства цифрового развития, связи и массовых коммуникаций Российской
    Федерации от 12.12.2022 N 931 "Об установлении порядка обеспечения условий
    доступности для инвалидов по зрению официальных сайтов государственных органов,
    органов местного самоуправления и подведомственных организаций в информационно-
    телекоммуникационной сети "Интернет"

  p.
    ГОСТ Р 52872-2019 "Интернет-ресурсы и другая информация, представленная в
    электронно-цифровой форме. Приложения для стационарных и мобильных устройств,
    иные пользовательские интерфейсы. Требования доступности для людей с инвалидностью
    и других лиц с ограничениями жизнедеятельности". Дата введения – 01.04.2020

  p Руководства по обеспечению доступности веб-контента (WCAG) 2.0, 2.1
