doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title КГА ПОУ "ДВГГТК имени Д.М. Карбышева"
    link(rel="stylesheet", href="css/style.css")
  body
    header
      h1.
        ДАЛЬНЕВОСТОЧНЫЙ ГОСУДАРСТВЕННЫЙ ГУМАНИТАРНО-ТЕХНИЧЕСКИЙ КОЛЛЕДЖ
        ИМЕНИ ГЕРОЯ СОВЕТСКОГО СОЮЗА Д.М. КАРБЫШЕВА
    main
      article
        h2 Гимн ДВГГТК
        pre.
          Дальневосточный наш колледж любимый,
          Гордость края и всей страны!
          Здесь знания, мудрость хранимы,
          Традиции крепки и сильны.

          Припев:
          Слава колледжу нашему, слава!
          Альма-матер студентов, друзей.
          Путь к успеху откроет по праву,
          Свет науки зажжёт для людей!

          Гуманитарным и техническим знаньем
          Ты богат, наш родной ДВГГТК.
          Выпускников твоих призваньем
          Станет жизни достойной строка.

          Припев.

          Дух единства царит в этих стенах,
          Повсеместно царят доброта.
          Педагоги - пример вдохновенный,
          Студенчества мысль здесь остра.

          Припев.

          Вперёд, наш колледж, шагай к новым целям,
          Неся через годы огонь!
          Творить, созидать - наше общее дело.
          Мы гордо несём флаг твой, ДВГГТК родной!

          Припев.

        ol
          li: audio(controls src="/files/anthem-a.ogg")
          li: audio(controls src="/files/anthem-b.ogg")
          li: audio(controls src="/files/anthem-c.ogg")
          li: audio(controls src="/files/anthem-d.ogg")
